<header class="flex w-full justify-between p-6 bg-[#0D1117] text-white font-sora">
  <nav class="flex gap-8 text-[0.875rem]">
    <span class="grow shrink-0 px-4">
      <img
        src="logos/header-logo.png"
        alt="Logo da Filmora no header do site"
        class="h-10 w-auto"
      />
    </span>
    <span class="flex items-center text-gray-300 cursor-pointer hover:text-white">
      <a routerLink="/">Home</a>
    </span>
    <span class="flex items-center text-gray-300 cursor-pointer hover:text-white">
      <a routerLink="/movies">Filmes</a>
    </span>
    <span class="flex items-center text-gray-300 cursor-pointer hover:text-white">Favoritos</span>
    <span class="flex items-center text-gray-300 cursor-pointer hover:text-white"
      >Quero assistir</span
    >
  </nav>

  <span class="flex items-center gap-6">
    <span>
      <icon-button [icon]="'search'"></icon-button>
    </span>
    <span>
      <icon-button [icon]="'user-round'"></icon-button>
    </span>
  </span>
</header>
