<main class="flex min-h-[calc(100vh-100px)] flex-col">
  <div class="mt-auto flex w-1/2 flex-col gap-5 p-13">
    <featured-title title="em destaque" />

    <h1 class="text-5xl font-bold">Duna: Parte Dois</h1>

    <div class="flex items-center gap-2 text-[12.5px] text-gray-300">
      <span>2024</span>
      <span>•</span>
      <span>2h 46min</span>
      <span>•</span>
      <span>Ficção científica, Aventura</span>
      <span>•</span>
      <movie-rating [rating]="10" />
    </div>

    <p class="text-gray-300">
      Paul Atreides se une a Chani e aos Fremen para vingar sua família, enquanto tenta impedir o
      futuro sombrio que apenas ele consegue prever.
    </p>

    <div class="flex items-center gap-4">
      <ds-button leftIcon="play" label="Assistir trailer" />

      <icon-button icon="plus" />
    </div>
  </div>
</main>
